#include <physical_layouts.dtsi>

/ {
    totem_layout: totem_layout {
        compatible = "zmk,physical-layout";
        display-name = "TOTEM";

        /* Map physical positions to your existing matrix transform order */
        transform = <&default_transform>;

        /*               w   h    x     y    r  rx ry  */
        keys =
            /* Row 0 (10) */
              <&key_physical_attrs 19  19    0     0    0   0  0>
            , <&key_physical_attrs 19  19   19     0    0   0  0>
            , <&key_physical_attrs 19  19   38     0    0   0  0>
            , <&key_physical_attrs 19  19   57     0    0   0  0>
            , <&key_physical_attrs 19  19   76     0    0   0  0>
            , <&key_physical_attrs 19  19  134     0    0   0  0>
            , <&key_physical_attrs 19  19  153     0    0   0  0>
            , <&key_physical_attrs 19  19  172     0    0   0  0>
            , <&key_physical_attrs 19  19  191     0    0   0  0>
            , <&key_physical_attrs 19  19  210     0    0   0  0>

            /* Row 1 (10) */
            , <&key_physical_attrs 19  19    0    19    0   0  0>
            , <&key_physical_attrs 19  19   19    19    0   0  0>
            , <&key_physical_attrs 19  19   38    19    0   0  0>
            , <&key_physical_attrs 19  19   57    19    0   0  0>
            , <&key_physical_attrs 19  19   76    19    0   0  0>
            , <&key_physical_attrs 19  19  134    19    0   0  0>
            , <&key_physical_attrs 19  19  153    19    0   0  0>
            , <&key_physical_attrs 19  19  172    19    0   0  0>
            , <&key_physical_attrs 19  19  191    19    0   0  0>
            , <&key_physical_attrs 19  19  210    19    0   0  0>

            /* Row 2 + outer columns (12) */
            , <&key_physical_attrs 19  19  (-10)   40    0   0  0> /* outer left */
            , <&key_physical_attrs 19  19     0    38    0   0  0>
            , <&key_physical_attrs 19  19    19    38    0   0  0>
            , <&key_physical_attrs 19  19    38    38    0   0  0>
            , <&key_physical_attrs 19  19    57    38    0   0  0>
            , <&key_physical_attrs 19  19    76    38    0   0  0>
            , <&key_physical_attrs 19  19   134    38    0   0  0>
            , <&key_physical_attrs 19  19   153    38    0   0  0>
            , <&key_physical_attrs 19  19   172    38    0   0  0>
            , <&key_physical_attrs 19  19   191    38    0   0  0>
            , <&key_physical_attrs 19  19   210    38    0   0  0>
            , <&key_physical_attrs 19  19   220    40    0   0  0> /* outer right */

            /* Thumb row (6) */
            , <&key_physical_attrs 19  19    48    62    0   0  0>
            , <&key_physical_attrs 19  19    67    62    0   0  0>
            , <&key_physical_attrs 19  19    86    62    0   0  0>
            , <&key_physical_attrs 19  19   124    62    0   0  0>
            , <&key_physical_attrs 19  19   143    62    0   0  0>
            , <&key_physical_attrs 19  19   162    62    0   0  0>
            ;
    };
};
